@media screen and (min-width: 10px) {
  .loginContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      109.6deg,
      rgb(245, 239, 249) 30.1%,
      rgb(207, 211, 236) 100.2%
    );
  }
  .form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: white;
    border-radius: 10px;
    height: auto;
    width: 80%;
  }
  .form > input {
    height: 40px;
    border-radius: 10px;
    border: 2px solid;
    padding: 1px 10px;
    font-size: 1.2rem;
    color: #151414cc;
    width: 80%;
  }
  .form > input:focus {
    outline: none !important;
    border-color: rgb(104, 119, 244);
  }
  .button {
    height: 45px;
    width: 60%;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 550;
    font-family: sans-serif;
    color: white;
    background: linear-gradient(
      110.6deg,
      rgb(184, 142, 252) 2.2%,
      rgb(104, 119, 244) 100.2%
    );
    cursor: pointer;
  }
  .logo {
    font-size: 1.6rem;
    font-weight: 550;
    font-family: sans-serif;
    color: #151414cc;
  }
}
@media screen and (min-width: 600px) {
    .form {
        width: 60%;
      }
}
@media screen and (min-width: 900px) {
  .form {
    width:40%;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    width: 30%;
  }
}